/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.05.2019, 23:31:51
    Author     : andre
*/

.calendarcol {
    /* margin: 2px; */
}

.calendar {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1.8rem;
    margin-bottom: 2px;
}