/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.05.2019, 23:31:51
    Author     : andre
*/
a:hover {
    text-decoration: none;    
}

.calendarcol {
    /* margin: 2px; */
}

.resourcecol, .servicecol {
    /* nothing */
    display: none;
}

.resourcecol .form-check, .servicecol .form-check {
    padding-left: 0;
}

.resourcecol .form-check label .form-check-input, .servicecol  .form-check label .form-check-input {
/*    margin-left: 0.5rem;*/
}

.resourcecol .resourcetype .form-check label, .servicecol .servicegroup .form-check label   {
    padding-left: 2rem;
    width: 95%;
}

.resourcecol .form-check label:hover, .servicecol .form-check label:hover   {
    background-color: #eeeeee;
}

.calendar {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1.8rem;
    margin-bottom: 2px;
}

.resourcetype, .servicegroup
{
    background-color: #cccccc;
    padding-left: 2rem;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 2px;
}

.resourcetype input[type="checkbox"]
{
    /* margin-left: -1.5rem; */
}

.resourcetype h6, .servicegroup h6  {
    display: inline-block;
}

.rest-wrapper {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: -2px;
    padding-left: 1.75rem;
}

